{%extends 'myapp/base.html'%}
{%load crispy_forms_tags%}
{%block content%}
<div class="container-fluid">
<div class="row">

  <div class="col-sm-6">
    <table class="table table-striped table-bordered" style=margin-top:2rem;>
      <theader>
        <tr class="text-white" style=background-color:dodgerblue;>
        <th>{{covidObj.name}}</th>
        <th>Impact</th>
        <tr>
      </theader>
        <tbody class="bg-white">
          <tr><th>Currently Infected</th> <td>{{impactObj.currentlyInfected}}</td></tr>
          <tr><th>Infection By Requested Time</th><td>{{impactObj.InfectionByRequestedTime}}</td></tr>
          <tr><th>Severe Cases By Requested Time</th><td>{{impactObj.severeCasesByRequestedTime_impact}}</td></tr>
          <tr><th>Hospital Beds By Requested Time</th><td>{{impactObj.hospitalBedsByRequestedTime_impact}}</td></tr>
          <tr><th>Cases For ICU By Requested Time</th><td>{{impactObj.casesForICUByRequestedTime_impact}}</td></tr>
          <tr><th>Cases For Ventilators By Requested Time</th><td>{{impactObj.casesForVentilatorsByRequestedTime_impact}}</td></tr>
          <tr><th>Dollars In Flight</th><td>{{impactObj.dollarsInFlight_impact}}</td></tr>
          </tbody>
      </table>
    </div>

    <div class="col-sm-6">
        <table class="table table-striped table-bordered" style=margin-top:2rem;>
          <theader>
            <tr class="text-white" style=background-color:dodgerblue;>
            <th>{{covidObj.name}}</th>
            <th>Severe Impact</th>
            </tr>
          </theader>
            <tbody class="bg-white">
              <tr><th>Currently Infected</th> <td>{{severeObj.currentlyInfectedsevere}}</td></tr>
              <tr><th>Infection By Requested Time</th><td>{{severeObj.InfectionByRequestedTimeSevere}}</td></tr>
              <tr><th>Severe Cases By Requested Time</th><td>{{severeObj.severeCasesByRequestedTime_severe}}</td></tr>
              <tr><th>Hospital Beds By Requested Time</th><td>{{severeObj.hospitalBedsByRequestedTime_severe}}</td></tr>
              <tr><th>Cases For ICU By Requested Time</th><td>{{severeObj.casesForICUByRequestedTime_severe}}</td></tr>
              <tr><th>Cases For Ventilators By Requested Time</th><td>{{severeObj.casesForVentilatorsByRequestedTime_severe}}</td></tr>
              <tr><th>Dollars In Flight</th><td>{{severeObj.dollarsInFlight_severe}}</td></tr>
              </tbody>
          </table>

      </div>
  </div>
  </div>
{%endblock%}
