{%extends 'myapp/base.html'%}
{%load crispy_forms_tags%}
{%block content%}
<div class="container-fluid">
<div class="row">

  <div class="col-sm-4 bg-dark">
    <table class="table table-striped table-bordered" style=margin-top:2rem;>
      <theader>
        <tr class="text-white" style=background-color:dodgerblue;>
        <th>{{name}}</th>
        <th>Impact</th>
        <tr>
      </theader>
        <tbody class="bg-white">
          <tr><th>Currently Infected</th> <td>{{currentlyInfected}}</td></tr>
          <tr><th>Infection By Requested Time</th><td>{{InfectionByRequestedTime}}</td></tr>
          <tr><th>Severe Cases By Requested Time</th><td>{{severeCasesByRequestedTime_impact}}</td></tr>
          <tr><th>Hospital Beds By Requested Time</th><td>{{hospitalBedsByRequestedTime_impact}}</td></tr>
          <tr><th>Cases For ICU By Requested Time</th><td>{{casesForICUByRequestedTime_impact}}</td></tr>
          <tr><th>Cases For Ventilators By Requested Time</th><td>{{casesForVentilatorsByRequestedTime_impact}}</td></tr>
          <tr><th>Dollars In Flight</th><td>{{dollarsInFlight_impact}}</td></tr>
          </tbody>
      </table>
    </div>

    <div class="col-sm-4 bg-danger">
        <table class="table table-striped table-bordered" style=margin-top:2rem;>
          <theader>
            <tr class="text-white" style=background-color:dodgerblue;>
            <th>{{name}}</th>
            <th>Severe Impact</th>
            </tr>
          </theader>
            <tbody class="bg-white">
              <tr><th>Currently Infected</th> <td>{{currentlyInfectedsevere}}</td></tr>
              <tr><th>Infection By Requested Time</th><td>{{InfectionByRequestedTimeSevere}}</td></tr>
              <tr><th>Severe Cases By Requested Time</th><td>{{severeCasesByRequestedTime_severe}}</td></tr>
              <tr><th>Hospital Beds By Requested Time</th><td>{{hospitalBedsByRequestedTime_severe}}</td></tr>
              <tr><th>Cases For ICU By Requested Time</th><td>{{casesForICUByRequestedTime_severe}}</td></tr>
              <tr><th>Cases For Ventilators By Requested Time</th><td>{{casesForVentilatorsByRequestedTime_severe}}</td></tr>
              <tr><th>Dollars In Flight</th><td>{{dollarsInFlight_severe}}</td></tr>
              </tbody>
          </table>

      </div>
  </div>
  </div>
{%endblock%}
